<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Search</title>
    <div th:replace="layout/head::head"></div>
</head>
<body>
<!-- Pre Loader -->
<div id="aa-preloader-area">
    <div class="pulse"></div>
</div>
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header th:replace="layout/header::header"></header>
<!-- End header section -->
<!-- Start menu section -->
<section th:replace="layout/menubar::menubar">
</section>
<!-- End menu section -->

<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Book Search</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->

<!-- Start Blog  -->
<section id="aa-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <div class="aa-blog-content">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-1.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-2.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-3.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-1.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-2.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-3.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-1.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <article class="aa-blog-single">
                                        <figure class="aa-blog-img">
                                            <a href="#"><img alt="img" src="img/blog-img-3.jpg"></a>
                                            <span class="aa-date-tag">15 April, 16</span>
                                        </figure>
                                        <div class="aa-blog-single-content">
                                            <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                            <div class="aa-blog-single-bottom">
                                                <a class="aa-blog-author" href="#"><i class="fa fa-user"></i> Admin</a>
                                                <a class="aa-blog-comments" href="#"><i class="fa fa-comment-o"></i>6</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <div class="aa-properties-content-bottom">
                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                    <a aria-label="Previous" href="#">
                                                        <span aria-hidden="true">«</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li class="active"><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a aria-label="Next" href="#">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                                <div class="aa-blog-sidebar-single">
                                    <form action="">
                                        <div class="aa-blog-search" style="text-align: center;">
                                            <select style="width: 100px; height: 40px;">
                                                <option value="0">제목</option>
                                                <option value="1">ISBN</option>
                                            </select>
                                            <input class="aa-search-text" type="text" placeholder="Search..." style="
                                                border: 1px solid #ccc;
                                                color: #000;
                                                display: inline;
                                                font-size: 16px;
                                                height: 40px;
                                                padding: 8px 40px 10px 5px;
                                            ">
                                            <button class="aa-search-submit" type="submit" style="
                                                background: transparent none repeat scroll 0 0;
                                                border: medium none;
                                                color: #aaa;
                                                font-size: 18px;
                                                padding-top: 6px;
                                                right: 10px;
                                                width: 30px;
                                            ">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog  -->

<!-- Footer -->
<footer th:replace="layout/footer::footer"></footer>
<!-- / Footer -->

<div th:replace="layout/script::script"></div>

</body>
</html>