<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer id="aa-footer" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="aa-footer-left">
                                    <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="aa-footer-middle" style="color: white;">
                                    Source Code
                                    <a href="https://github.com/ivvve/bookside"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aa-footer-right">
                                    <p style="color: white">Made by <a rel="nofollow" href="https://github.com/ivvve">devson</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>