<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header-navbar-searchbar">
    <header id="header">
        <div class="container box_1170 main-menu">
            <div class="row align-items-center justify-content-center d-flex">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a th:href="@{/book/search}">책 검색</a></li>
                        <li class="menu-has-children"><a th:href="@{/book/order}">My</a>
                            <ul>
                                <li><a th:href="@{/book/order}">책 주문</a></li>
                                <li><a th:href="@{/book/history}">주문 내역</a></li>
                                <li><a th:href="@{/member/info}">내 정보</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="search_input" id="search_input_box" style="display: block">
            <div class="container box_1170">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="book_keyword" name="keyword" placeholder="Search Here">
                    <input type="text" name="page" value="1" hidden="hidden">
                    <button class="btn sub-btn" style="color: white; padding-top: 10px;">
                        <span class="lnr lnr-magnifier"></span>
                    </button>
                </form>
            </div>
        </div>
    </header>
</html>