<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header-navbar">
    <header id="header">
        <div class="container box_1170 main-menu">
            <div class="row align-items-center justify-content-center d-flex">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a th:href="@{/book/search}">책 검색</a></li>
                        <li class="menu-has-children"><a th:href="@{/book/order}">My</a>
                            <ul>
                                <li><a th:href="@{/book/order}">책 주문</a></li>
                                <li><a th:href="@{/book/history}">주문 내역</a></li>
                                <li><a th:href="@{/member/info}">내 정보</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</html>