<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header-top">
    <section class="header-top">
        <div class="container box_1170">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="index.html" class="logo">
                        <img th:src="@{/img/logo.png}" alt="">
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 search-trigger">
                    <a href="#" class="search">
                        <i class="lnr lnr-magnifier" id="search"></i></a>
                    </a>
                </div>
            </div>
        </div>
    </section>
</html>