<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <section id="aa-menu-area" th:fragment="menubar">
        <nav class="navbar navbar-default main-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- Text based logo -->
                    <a class="navbar-brand aa-logo" th:href="@{/index}"> Book<span>side</span></a>
                    <!-- Image based logo -->
                    <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
                        <li class="active"><a th:href="@{/search}">SEARCH</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/properties}">ORDER <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/cart}">CART</a></li>
                                <li><a th:href="@{/orderList}">ORDER LIST</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/gallery}">MY</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/blog-archive}">ADMIN <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/admin/memberManaging}">MEMBER MANAGING</a></li>
                                <li><a th:href="@{/admin/bookManaging}">ORDER MANAGING</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>

</html>