<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="script">
    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script th:src="@{js/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{js/bootstrap.js}"></script>
    <!-- slick slider -->
    <script type="text/javascript" th:src="@{js/slick.js}"></script>
    <!-- Price picker slider -->
    <script type="text/javascript" th:src="@{js/nouislider.js}"></script>
    <!-- mixit slider -->
    <script type="text/javascript" th:src="@{js/jquery.mixitup.js}"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" th:src="@{js/jquery.fancybox.pack.js}"></script>
    <!-- Custom js -->
    <script th:src="@{js/custom.js}"></script>
</html>