<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>책 주문</title>
	<div th:replace="layout/head::head"></div>
	<style>
		#orderList table tbody td {
			vertical-align: middle;
		}

	</style>
</head>

<body>
<!--================ Start header Top Area =================-->
<section th:replace="layout/header-top::header-top">
</section>
<!--================ End header top Area =================-->

<!-- Start header Area -->
<header id="header" th:replace="layout/header-navbar::header-navbar">
</header>
<!-- End header Area -->

<!-- Start main body Area -->
<div class="main-body section-gap" id="orderList">
	<div class="section-top-border container">

		<table class="table">
			<colgroup>
				<col width="10%">
				<col width="60%">
				<col width="10%">
				<col width="">
			</colgroup>
			<thead>
				<tr>
					<th>#</th>
					<th>책</th>
					<th>수량</th>
					<th><input type="checkbox" id="checkAllOrder"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>토비의 스프링</td>
					<td><input type="number" name="quantity" class="quantity" value="1"></td>
					<td><input type="checkbox" class="orderCheckBox"></td>
				</tr>
				<tr>
					<td>2</td>
					<td>TDD - can't back</td>
					<td><input type="number" name="quantity" class="quantity" value="1"></td>
					<td><input type="checkbox" class="orderCheckBox"></td>
				</tr>
			</tbody>
		</table>
		<div style="text-align: center;">
			<a class="genric-btn primary-border circle" style="cursor: pointer;">주문하기</a>
		</div>
	</div>
</div>

<!-- start footer Area -->
<footer th:replace="layout/footer::footer">
</footer>
<!-- End footer Area -->

<div th:replace="layout/common-script::common-script"></div>
<script th:src="@{/js/web/book-search.js}"></script>

</body>

</html>