<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>LOGIN</title>
	<div th:replace="layout/head::head"></div>
</head>

<body>
<!--================ Start header Top Area =================-->
<section th:replace="layout/header-top::header-top">
</section>
<!--================ End header top Area =================-->

<!-- Start header Area -->
<header id="header" th:replace="layout/header-navbar::header-navbar">
</header>
<!-- End header Area -->

<!-- Start Align Area -->
<div class="whole-wrap">
	<div class="container box_1170" style="margin-top: 50px;">

		<!-- Start Align Area -->
		<div class="whole-wrap">
			<div class="container box_1170">
				<div class="section-top-border" style="width: 400px; margin: auto;">
					<form>
						<div class="mt-10">
							<input id="emailInput" type="text" name="email" placeholder="EMAIL" onfocus="this.placeholder = ''" onblur="this.placeholder = 'EMAIL'" required class="single-input-primary">
						</div>
						<div class="mt-10">
							<input id="passwordInput" type="password" name="password" placeholder="비밀번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호'" required class="single-input-accent">
						</div>
						<div class="mt-10" style="text-align: center;">
							<div class="button-group-area mt-40">
								<a href="#" id="loginButton" class="genric-btn success circle arrow" onclick="login.loginButtonOnClick();">로그인<span class="lnr lnr-arrow-right"></span></a>
							</div>

							<div class="button-group-area mt-40">
								<a href="#" id="joinButton" class="genric-btn primary circle arrow" onclick="login.joinButtonOnClick();">가입 신청<span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- End Align Area -->

	</div>
</div>
<!-- End Align Area -->

<!-- start footer Area -->
<footer th:replace="layout/footer::footer">
</footer>
<!-- End footer Area -->

<div th:replace="layout/common-script::common-script"></div>
<script src="/js/web/member/login.js"></script>

</body>

</html>