<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>404 NOT FOUND</title>
    <div th:replace="layout/head::head"></div>
</head>

<body>
<!--================ Start header Top Area =================-->
<section th:replace="layout/header-top::header-top">
</section>
<!--================ End header top Area =================-->

<!-- Start header Area -->
<header id="header" th:replace="layout/header-navbar::header-navbar">
</header>
<!-- End header Area -->

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170" style="margin-top: 50px;">
        <div class="section-top-border">
            <h3 class="mb-30">404 NOT FOUND</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        작업 중 입니다.<br/>
                        앞으로 구현해나가겠습니다 ^^
                    </blockquote>
                </div>
            </div>
        </div>
</div>
</div>
<!-- End Align Area -->

<!-- start footer Area -->
<footer th:replace="layout/footer::footer">
</footer>
<!-- End footer Area -->

<div th:replace="layout/common-script::common-script"></div>

</body>

</html>