<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>책 검색</title>
	<div th:replace="layout/head::head"></div>
	<style>
		.post-thumb img {
			height: 350px;
		}

		.post-thumb {
			height: 350px;
		}
	</style>
</head>

<body>
<!--================ Start header Top Area =================-->
<section th:replace="layout/header-top::header-top">
</section>
<!--================ End header top Area =================-->

<!-- Start header Area -->
<header id="header" th:replace="layout/header-navbar-searchbar::header-navbar-searchbar">
</header>
<!-- End header Area -->

<!-- Start main body Area -->
<div class="main-body section-gap" id="bookList">
	<div class="container box_1170" style="padding-top: 50px;">
		<div class="row">
			<div class="col-lg-12 post-list">
				<!-- Start Post Area -->
				<section class="post-area" th:with='keyword = ${#request.getParameter("keyword")}'>

					<div class="row" th:if='${#strings.isEmpty(keyword)}' style="padding-left: 45%;">
						<div class="col-sm-12">책을 검색해주세요.</div>
					</div>

					<div class="row" th:if="${keyword != null && bookSearchResult?.total != 0}">
						<div class="col-lg-3 col-md-4" th:each="book : ${bookSearchResult?.items}">
							<div class="single-post-item">
								<div class="post-thumb">
									<img class="img-fluid" th:src="${book.image}" alt="">
								</div>
								<div class="post-details">
									<h4 style="cursor: pointer;"><a onclick="bookDetail.onBookClick(this);" th:attr="data-isbn=${book.isbn}" th:utext="${book.title}" class="bookDetailButton"></a></h4>
									<div class="blog-meta">
										<a class="m-gap">
											<span class="lnr lnr-user"></span>
											<span th:remove="tag" th:utext="${book.author}"></span>
										</a>
										<br/>

										<a class="m-gap">
											<span class="lnr lnr-calendar-full"></span>
											<span th:remove="tag" th:text="${book.pubdate}"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" th:if="${!#strings.isEmpty(keyword) && bookSearchResult?.total == 0}" style="padding-left: 45%;">
						<div class="col-sm-12">검색 결과가 없습니다.</div>
					</div>

					<div class="col-lg-12" th:if="${!#strings.isEmpty(keyword) && bookSearchResult?.total != 0}">
						<nav class="blog-pagination justify-content-center d-flex"
							th:with='currentPage=${T(Integer).parseInt(#request.getParameter("page"))},
									lastPage=${T(Math).ceil(bookSearchResult.total / 12.0)}'>

							<ul class="pagination"
								th:with='startPage=${currentPage <= 1 ? 1 : currentPage - 1},
										endPage=${currentPage == lastPage ? currentPage : currentPage + 1}'>

								<li class="page-item" th:if="${bookSearchResult.start != 1}">
									<a th:href="@{/book/search(keyword=${keyword}, page=${currentPage - 1})}" class="page-link" aria-label="Previous">
										<span aria-hidden="true"><span class="lnr lnr-arrow-left"></span></span>
									</a>
								</li>

								<li th:each="page : ${#numbers.sequence(startPage, endPage)}" th:class="${(currentPage == page) ? 'page-item active' : 'page-item'}">
									<a th:href="@{/book/search(keyword=${keyword}, page=${page})}" class="page-link" th:text="${page}"></a>
								</li>

								<li class="page-item" th:if="${currentPage != lastPage}">
									<a th:href="@{/book/search(keyword=${keyword}, page=${currentPage + 1})}" class="page-link" aria-label="Next">
										<span aria-hidden="true">
											<span class="lnr lnr-arrow-right"></span>
										</span>
									</a>
								</li>

							</ul>
						</nav>
					</div>

				</section>
				<!-- Start Post Area -->
			</div>

		</div>
	</div>
</div>
<!-- Start main body Area -->

<!-- book detail modal -->
<button id="bookDetailModalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" hidden="hidden"></button>

<div id="bookDetailModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h2 class="modal-title title" id="myLargeModalLabel"></h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<table id="bookDetailInfoTable" class="table">
					<colgroup>
						<col width="50%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tbody>
						<tr>
							<td rowspan="5"><img class="image" style="width: 100%;" src=""></td>
							<td><b>저자</b></td>
							<td class="author"></td>
						</tr>
						<tr>
							<td><b>출판사</b></td>
							<td class="publisher"></td>
						</tr>
						<tr>
							<td><b>정가</b></td>
							<td class="originalPrice"></td>
						</tr>
						<tr>
							<td><b>최저가</b></td>
							<td class="discountPrice"></td>
						</tr>
						<tr>
							<td><b>ISBN</b></td>
							<td class="isbn"></td>
						</tr>
					</tbody>
				</table>

				<div style="text-align: center;">
					<a id="bookAddButton" class="genric-btn success-border circle" style="cursor: pointer;">추가하기</a>
					<a onclick="bookDetail.hideBookDetailModal();" class="genric-btn primary-border circle" style="cursor: pointer;">닫기</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- start footer Area -->
<footer th:replace="layout/footer::footer">
</footer>
<!-- End footer Area -->

<div th:replace="layout/common-script::common-script"></div>
<script th:src="@{/js/book/book-search.js}"></script>

</body>

</html>