<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>로그인</title>
	<div th:replace="layout/head::head"></div>
</head>

<body>
<!--================ Start header Top Area =================-->
<section th:replace="layout/header-top::header-top">
</section>
<!--================ End header top Area =================-->

<!-- Start header Area -->
<header id="header" th:replace="layout/header-navbar::header-navbar">
</header>
<!-- End header Area -->

<!-- Start Align Area -->
<div class="whole-wrap">
	<div class="container box_1170">
		<div class="section-top-border">
			<div class="mt-10">
				<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
			</div>
			<!-- For Gradient Border Use -->
			<!-- <div class="mt-10">
                        <div class="primary-input">
                            <input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
                            <label for="primary-input"></label>
                        </div>
                    </div> -->
			<div class="mt-10">
				<input type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'"
					   required class="single-input-primary">
			</div>
			<div class="mt-10">
				<input type="text" name="first_name" placeholder="Accent color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Accent color'"
					   required class="single-input-accent">
			</div>
			<div class="mt-10">
				<input type="text" name="first_name" placeholder="Secondary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary color'"
					   required class="single-input-secondary">
			</div>
		</div>
	</div>
</div>
<!-- End Align Area -->

<!-- start footer Area -->
<footer th:replace="layout/footer::footer">
</footer>
<!-- End footer Area -->

<div th:replace="layout/common-script::common-script"></div>

</body>

</html>